* {
    box-sizing: border-box;
}

body {
  font-family: "Gill Sans", sans-serif;
    background: steelblue;
}

/* Style the header */
.header {
  grid-area: header;
  background: steelblue;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 20px;
}

.buttons {
    padding:10px;
    background-color:steelblue;

}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.left {
    float: left;
    width: 20%;
}
.middle {
    float: left;
    width: 70%;
}
.right {
    float: left;
    width: 10%;
    padding: 10px;
}

/* Style the footer */
.footer {
    background-color: steelblue;
    padding: 10px;
    text-align: center;
}


/* Style the navigation menu */
#myMenu {
  list-style-type: none;
  background: steelblue;
  padding: 0;
  margin: 0;
}

/* Style the navigation links */
#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: white;
  display: block
}

#myMenu li a:hover {
    background-color:firebrick;
}

#myMenu li.selected {
    background-color:#386890;
}

/******  TOP MENU *******/
 /* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #2d5273;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: firebrick;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* TABULATOR CSS Overriding*/
.tabulator {
    background-color: #71a0c8 !important;
}

.tabulator-row-odd {
    background-color: #a9c5de !important;

}

.tabulator-row-even {
    background-color: #eff4f9 !important;

}
.tabulator-footer, .tabulator-col-content, .tabulator-header {
    background-color: #709fc8 !important;
}

/* workaround per la visualizazione corretta del menu */
.CodeMirror {
  z-index: 0 !important; /* default is 2*/
  font-family: monospace !important;
  font-size: 16px;
  height: auto !important;
}

.CodeMirror-scroll {
    min-height: 100px !important;
    max-height: 300px !important;
}

/* status message */
.success,
.error {
    border: 1px solid;
    margin: 10px auto;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    max-width: 600px;
    font-weight: 700;
}

.error {
    border-color: white;
    background-color: #DD0000;
    color: white;
}

.success {
	border-color: #386890;
	background-color: #709fc8;
	color: #555;
}
